<?xml version="1.0" encoding="UTF-8" ?>
<!-- Rename this file to Secrets.xml to build -->
<resources>
    <!-- Put the value of your azure mobile centre secret here -->
    <string name="azure_mobile_key">xxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
</resources>
